* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
}

.game {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  padding: 5px;
  left: 50%;
  margin-left: -200px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.square, .disable {
  display: block;
  width: 125px;
  height: 125px;
  border: 1px solid #E98074;

  color: #8E8D8A;
  font-size: 5em;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

.square.disable {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #E85A4F;
  cursor: not-allowed;
}

#tic-tac-toe {
  background-color: #EAE7DC;
  position: absolute;
  left: 50%;
  top: 20%;
  height: 700px;
  width: 500px;
  margin-left: -250px;
  text-align: center;
  border-radius: 24px;
}

#tic-tac-toe h1 {
  font-size: 28px;
}

.square {
  cursor: pointer;
}

.btn {
  display: block;
  padding: 10px 0;
}

#reset-score, #clear-board {
  padding: 5px 10px;
  background-color: #D8C3A5;
  color: #E85A4F;
  border-radius: 8px;
  font-size: 20px;
  text-transform: uppercase;
  width: 204px;
  letter-spacing: 2px;
  opacity: 0.7;
  transition: 0.3s;
}

div > a { 
  margin: 10px 0;
}

#reset-score:hover, #clear-board:hover {
  opacity: 1;
}

a {
  text-decoration: none;
}

.span3 {
  color: #E85A4F;
  padding: 12px 0;
}

.score {
  display: inline-block;
}

span {
  font-size: 20px;
}